# Homework 1 Part 1

**1.**  Suppose you are provided with an online music streaming dataset, which contains information about users and the songs they streamed. The dataset contains a variety of attributes about the users and the songs. For each attribute given below, classify its type as nominal, ordinal, interval, or ratio.

    (a) IP address of a user.
    (b) Song preference of user, measured in terms of the number of times a user streamed a song. 
    (c) Song preference of user, measured in terms of the rating given by a user to the song (on an integer scale between 1 and 5).
    (d) Number of membership years, measured relative to the year 2010. For example, if a user joined the streaming service in 2015, the number of membership years is 5.
    (e) Song length (in minutes). For example, a song whose length is 4 minutes and 30 seconds will have a value of 4.5.
    (f) Genre of a song (e.g., rock, pop, rap, or classical).
    (g) Tempo of a song (e.g.., slow, medium, or fast).

**Solution:**

    (a) Nominal 
    (b) Ratio
    (c) Ordinal
    (d) Interval
    (e) Ratio
    (f) Nominal
    (g) Ordinal
    
---

**2.** State whether it is valid to apply the following operations to the attributes given below (where validity of the operation is determined by properties of the attribute values). If invalid, state your reason why the operation should not be performed on the attribute.

    (a) Calculating the median ratings of users for a given movie. Here the user ratings range from 1-star to 5-stars. 
    (b) Calculating the entropy of students who are enrolled in a class based on their gender. 
    (c) Calculating the geometric mean of daily temperature (in degrees Fahrenheit) in the month of January for East Lansing. 
    (d) Calculating the correlation between SAT score and GPA of students.

**Solution:**

    (a) Invalid
    (b) Valid
    (c) Invalid
    (d) Invalid

**3.**  Write a python program that performs each of the following steps below:

    (a) Use the Twitter streaming API to collect all the tweets that contain the keyword *flu*. Set the timer for collecting the tweets to 5 minutes (300 secs). Save the tweets in a file named flu.json.

**Code:**

In [1]:
import time
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream

C_KEY = 'B9TKXEWyZb7EgxWmfq2Vgke0p'
C_SECRET = 'mUbj1rrUKlYjMGE655bzygP0eY3lS5ihjRjIp3BozTOkkt5yJ2'
A_TOKEN_KEY = '1216914346741325825-A03s8GoafxclYUZutGhroosJ2dhpUH'
A_TOKEN_SECRET = 'Muku809iLWzEite4q3iM0YWZ1QQ2cgHrNPbz0xb7pN5V2'

# Create a StreamListener class 
class MyListener(StreamListener):

    def __init__(self, time_limit=300):
        self.start_time = time.time()
        self.limit = time_limit
        self.outFile = open('flu.json', 'w')
        super(MyListener, self).__init__()
        
    def on_data(self, data):
        if (time.time() - self.start_time) < self.limit:
            self.outFile.write(data.strip())
            self.outFile.write('\n')
            return True
        else:
            self.outFile.close()
            return False
        
    def on_error(self, status):
        print(status)
        
auth = OAuthHandler(C_KEY,C_SECRET)
auth.set_access_token(A_TOKEN_KEY,A_TOKEN_SECRET)
myStream = Stream(auth, MyListener(time_limit= 300 ))
myStream.filter(track=[ 'flu' ])

    (b) Load the json file and store the tweet information into a dataframe named data, which contains 3 columns: user's screen_name, follower_count, and tweet message.

In [6]:
import json
import pandas as pd

with open( 'flu.json' ) as f:
    tweets = [json.loads(line) for line in f]           # load the json file and store the tweets in a list named tweets
    data = pd.DataFrame(columns=['user','follower count', 'tweet']);    # create an empty data frame with column names "user", 'retweet_count', and "tweet"
    for twt in tweets:
        data = data.append({'user':twt['user']['screen_name'],'follower count':twt['user']['followers_count'], 'tweet': twt['text']},ignore_index = True)  # append the tweet to the data frame
        
data.head()

,user,follower count,tweet
0,idleskv,615,"RT @WHOPhilippines: To date, there is no confi..."
1,HereToResist,912,"@hughhewitt ""Let's distract from the mafia cri..."
2,Slv_do_mqFFC,2627,RT @DiaDiaFlu: A sede da Young Flu tá um luxo ...
3,blalock_chas,5543,"@ABar99818097 Thank you! Lol, no flu, Thank Go..."
4,23_tinytim,338,Pedialyte popsicles have saved me from this flu

    (c) Find the top-5 users with highest number of followers. Display their screen_names along with follower counts.
    
**Code:**

In [9]:
data.sort_values(by=['follower count'],ascending=False).head()

,user,follower count,tweet
193,weatherchannel,3670199,Oregon and Hawaii are the only two states wher...
153,radiofmodia,544043,Bora pro Maraca? Tem jogo na quarta e na quint...
168,dailystar,192717,British tourist with deadly flu on Thai island...
77,FDAWomen,73511,RT @CDCtravel: No matter where you travel next...
194,5ilence_d0g00d,25502,@RealMattCouch A fart when I have the flu.